@using System.Data
@using Common
@model object
@{
    DataRow dr = null;
    if (Model != null)
    {
        List<retValue> ret = Model as List<retValue>;

        if (ret[0].result)
        {
            DataTable dt = ret[0].data as DataTable;
            if (dt != null && dt.Rows.Count > 0)
            {
                dr = dt.Rows[0];
            }
        }
    }

}
@section scripts{
    <script>
        $(function () {
            var ajaxHelper = new AjaxHelper();

            layui.use(['laydate', 'jquery', 'layer', 'form', 'laytpl','element'], function () {
                var $ = layui.jquery, laydate = layui.laydate, layer = layui.layer, form = layui.form, laytpl = layui.laytpl ,element = layui.element;
                var start = {
                    min: laydate.now
                    , max: '2099-06-16 23:59:59'
                    , istoday: false
                    , choose: function (datas) {
                    end.min = datas; //开始日选好后，重置结束日的最小日期
                    end.start = datas //将结束日的初始值设定为开始日
                     }
                };

                var end = {
                    min: laydate.now
                  , max: '2099-06-16 23:59:59'
                  , istoday: true
                  , choose: function (datas) {
                      start.max = datas; //结束日选好后，重置开始日的最大日期
                  }
                };
                laydate.render({
                    elem: '#test1'
                });
                form.on('submit(save1)', function (data) {
                    var ddd = { str: JSON.stringify(data.field) };
                    ajaxHelper.post("/OrderSys/OrderInfo_AddEdits/", ddd, function (da) {
                        var jsonObj = JSON.parse(da);
                        if (jsonObj.result) {
                            layer.open({
                                title: '提示', content: jsonObj.data, time: 2000,
                                end: function () {
                                    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                                    parent.layer.close(index);  // 关闭layer
                                }
                            });
                        }
                        else {
                            layer.open({
                                title: '提示', content: jsonObj.result
                            });
                        }

                    });
                    return false;
                });
                $(function () {
                    GetAllOrderPeopleInfos();
                    selectchanged("", "NewspaperName");
                });
                //绑定订户信息
                function GetAllOrderPeopleInfos() {
                    var ddd = { str: "" };
                    ajaxHelper.post("/OrderSys/GetAllOrderPeopleInfos/", ddd, function (da) {
                        var jsonObj = JSON.parse(da);
                        var getTpl3 = $("#OrderPeopleInfos").html()
                            , view3 = $("#OrderPeople");
                        if (jsonObj.code==0) {
                            if (jsonObj.data.length > 0) {
                                laytpl(getTpl3).render(jsonObj.data, function (a3) {
                                    $(view3).html(a3);
                                });
                            }
                        }
                        form.render();
                    });
                }
                //绑定报纸信息
                function selectchanged(parentid, elem) {
                    var ddd = { str: parentid };
                    ajaxHelper.post("/BasicSys/GetAllDocInfo/", ddd, function (da) {
                        var jsonObj = JSON.parse(da);
                        var getTpl2 = $("#orginfo").html()
                            , view2 = $("#" + elem + "");
                        if (jsonObj.result) {
                            if (jsonObj.data.length > 0) {
                                laytpl(getTpl2).render(jsonObj.data, function (a2) {
                                    $(view2).html(a2);
                                });
                            }
                        }
                        form.render();
                    });
                }
                form.on('select(NewspaperName)', function (data) {
                    console.log($("#NewspaperName").find("option:selected").attr("tag"));
                    document.getElementById("Price").value =  $("#NewspaperName").find("option:selected").attr("tag");
                    return false;
                });
                form.render();
            });
        });
    </script>
}
<script id="orginfo" type="text/html">
    <option value="" tag="0">请选择</option>
    {{#  layui.each(d, function(index, item){ }}
    <option value="{{item.ID}}" tag="{{item.PRICE}}">{{item.DOCNAME}}</option>
    {{#  }); }}
</script>
<script id="OrderPeopleInfos" type="text/html">
    <option value="">请选择</option>
    {{#  layui.each(d, function(index, item){ }}
    <option value="{{item.ID}}">{{item.UnitName}}</option>
    {{#  }); }}
</script>
<form class="layui-form layui-form-pane" style="margin-left: 20px;margin-top:20px;" action="" method="get" id="mainform">
    <input type="hidden" name="ID" value="@(dr == null ? "" : dr["ID"]._ToStrTrim())" />
    <input type="hidden" name="MGuid" value="@(dr == null ? "" : dr["NGUID"]._ToStrTrim())" />
    <div class=" layui-form-item">
        <label class="layui-form-label">订户</label>
        <div class="layui-input-inline">
            <select id="OrderPeople" name="OrderPeople" value="@(dr == null ? "" : dr["PersonID"]._ToStrTrim())"></select>
        </div>
        <label class="layui-form-label">报刊名称</label>
        <div class="layui-input-inline">
            <select id="NewspaperName"  lay-filter="NewspaperName"  name="NewspaperName" value="@(dr == null ? "" : dr["DocID"]._ToStrTrim())">
            </select>
        </div>
        <label class="layui-form-label">单价</label>
        <div class="layui-input-inline">
            <input type="text" id="Price" name="Price" value="0" readonly placeholder="" autocomplete="off" class="layui-input" maxlength="50">
        </div>
    </div>
    <div class=" layui-form-item">
        <label class="layui-form-label">订阅月数</label>
        <div class="layui-input-inline">
            <input type="text" id="Month" value="0"  name="Month" placeholder="" autocomplete="off" class="layui-input" maxlength="50">
        </div>
        <label class="layui-form-label">订购份数</label>
        <div class="layui-input-inline">
            <input type="text" id="OrderNumber" value="0"  name="OrderNumber" value="@(dr == null ? "" : dr["OrderNum"]._ToStrTrim())" placeholder="" autocomplete="off" class="layui-input" maxlength="50">
        </div>
    </div>
    <div class=" layui-form-item">        
        <label class="layui-form-label">应收金额</label>
        <div class="layui-input-inline">
            <input type="text" id="FullPrice" name="FullPrice"  value="0" readonly placeholder="" autocomplete="off" class="layui-input" maxlength="50">
        </div>
        <label class="layui-form-label">折扣</label>
        <div class="layui-input-inline">
            <input type="text" id="Discount" name="Discount"  value="1"   placeholder="" autocomplete="off" class="layui-input" maxlength="50">
        </div>
    </div>
    <div class=" layui-form-item">
        
        <button class="layui-btn layui-btn-warm" lay-filter="save1" lay-submit="" data-type="save">
            <i class="layui-icon">&#xe618;</i> 确定
        </button>
        <button class="layui-btn layui-btn-danger" onclick="javascript: mvccloseall();">
            <i class="layui-icon">&#x1006;</i> 取消
        </button>
    </div>
</form>
